<!-- // Title: Assignment 8.3 Capstone
// Author: Professor Krasso
// Date: Dec 11 2022
// Modified: Detres
//Week-8 exercises/videos
//https://www.youtube.com/watch?v=hAaoPOx_oIw
//https://openlibrary.org/
//https://www.npmjs.com/package/bootstrap-icons
//https://angular.io/api/router/RouterLink
https://material.angular.io/components -->


<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div fxLayout="grid" class="images">
        <img src="./assets/lion.png" style="max-width: 350px" />
        <img src="./assets/calc.png" style="min-width:fit-content; max-width:fit-content">
      </div>
      <div class="gryffindor">
        <em>
          Gryffindor Loan App
        </em>
      </div>
      <br><br>
      <div fxFlex>

        <p>
          This Loan App will estimate your monthly payments and also tell you how much interest you will pay through
          the
          term of
          the loan. Here you will have three fields of input which the app will need to determine your payments. Loan
          Amount/Principal, Interest Rate and the Number of Years. Unlike the other houses, we have built our loan
          calculator
          through man years of wizardly knowledge. Using our loan app will give you the powers you need to concur all
          your
          financial goals while continuing to be a faithful member of the wizardly house of Gryffindor!!

        </p>
        <p>
          Through the past two hundred years the loan app has helped many in their paths to greatness, without these
          calculations
          many of our students and staff would not know where to turn in times of need. There have many many attempts
          in the
          past
          to steal the loan application with no success. We encourage all our faculty and young wizards to use the
          loan
          applications as often as possible as this strengthen the application and makes it very difficult for the
          other
          houses to
          take over it. In the past we have had a few close calls , but thanks to the relentless powers of our young
          wizards
          we
          have prevailed in keeping the integrity of the loan app working. It is just a matter of time before the dark
          forces
          descend upon the calculator and try to claim it as their own. Your faithful usage of the Gryffindor loan app
          will
          continue to keep it protected from those dark forces.
        </p>
      </div>
    </div>
