<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>1000 Gryffindor Drive</p>
      <p>Potter, Texas</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 1-800-Wizards</p>
      <p>Toll-free: 1-800-Wizards</p>
      <p>Fax: 888-888-8888</p>
    </mat-card-content>
  </div>
</div>

<br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Only those with wizard passes are allowed
  </p>
</div>
