<!-- // Title: Assignment 9.2 Capstone
// Author: Professor Krasso
// Date: Dec 16 2022
// Modified: Detres
//Week-8 exercises/videos
//https://www.youtube.com/watch?v=hAaoPOx_oIw
//https://openlibrary.org/
//https://www.npmjs.com/package/bootstrap-icons
//https://angular.io/api/router/RouterLink -->

<div class="container">
  <div style="color: #d8ad10;font-size:30px;">
    Your monthly payment:
  </div>
  <div style="font-size: 30px;padding-top:30px;">
    {{ "$" + (monthlyPayment | number:'1.2-2') }}
  </div>
</div>
<br /><br />
